@font-face {
    font-family: 'MyriadProBold';
    src: url('./fonts/MyriadProBold.eot');
    src: url('./fonts/MyriadProBold.eot') format('embedded-opentype'),
         url('./fonts/MyriadProBold.woff2') format('woff2'),
         url('./fonts/MyriadProBold.woff') format('woff'),
         url('./fonts/MyriadProBold.ttf') format('truetype'),
         url('./fonts/MyriadProBold.svg#MyriadProBold') format('svg');
}

body{
    font-size: 61.2%;
}

body.active::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
}

.header{
    display: block;
    background-color: #ffd013;
    height: 27.5vw;
}

.header .container-header{
    display: grid;
}

.header .icon-menu-responsive{
    position: absolute;
    font-size: 9vw;
    color: #fff;
    padding: 7vw 0 0 10vw;
}

.header .logo {
    border: 2px solid #fff;
    width: 43%;
    height: 15vw;
    margin: 6vw auto 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header .logo p{
    color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
}

.menu-options{
    position: fixed;
    background: #ffd013;
    height: 100%;
    width: 77%;
    left: -556px;
    z-index: 999;
}

.menu-options-active{
    left: 0;
    box-shadow: 8px 12px 45px -12px #191919;
}

.btn-close{
    position: fixed;
    top: 20px;
    display: none;
    right: 15px;
    z-index: 99999;
    font-size: 33px;
    color: #fff;
}

.btn-close-active{
    display: block;
}

.btn-where-buy, .btn-print{
    background-color: #fdda51;
    width: 49%;
    height: 18vw;
    position: relative;
    overflow: hidden;
    color: #008cd2;
    font-family: 'PT Sans', sans-serif;
}

.btn-where-buy a, .btn-print a{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.btn-where-buy a span, .btn-print a span{
    font-size: 1.2em;
    text-transform: uppercase;
}

.btn-where-buy a .text, .btn-print a .text{
    display: none;
}

.btn-where-buy a .icon-btn, .btn-print a .icon-btn{
    font-size: 1.5em;
    margin: 0 0 0 5px;
    display: flex;
    align-items: center;
}

.search-form form{
    display: flex;
}

.search-form form input{
    outline: none;
    border: 1px solid #008cd2;
    color: #333;
    font-family: 'PT Sans', sans-serif;
    border-radius: 0;
    width: 100%;
    height: 13vw;
    padding: 0 0 0 13px;
    font-size: 15px
}

.search-form form input:focus{
    outline: none;
    box-shadow: 0;
    border: 1px solid #008cd2;
}

.btn-search{
    background-color: #fdda51;
    color: #008cd2;
    border-radius: 0; 
    border: 1px solid #008cd2;
    font-family: 'PT Sans', sans-serif;
}

.navigation{
    display: block;
    width: 100%;
    position: absolute;
    height: 82%;
    padding: 0;
    bottom: 0;
    margin: 0px 0 0 0;
    background-color: #008cd2;
}

.navigation ul{
    display: block;
    width: 100%;
    position: absolute;
    height: 100%;
    padding: 0;
    bottom: 0;
    margin: 0px 0 0 0;
    background-color: #008cd2;
}

.navigation ul li{
    list-style: none;
    border-bottom: 1px solid #0056b3;
    width: 100%;
    height: 18vw;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.navigation ul li a{
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    padding: 15px 0 0 0;
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
}

.navigation ul li:hover{
    background-color: #0056b3;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.banner{
    background-color: #cacaca;
}

.banner h5{
    color: #fff;
    text-align: center;
    margin: 20px auto 145px auto;
    width: 56%;
}

.btn-view-product{
    background-color: #fdda51;
    width: 74%;
    outline: none;
    border-radius: 24px;
    border: 2px solid #ffd013;
    height: 14vw;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    margin: 0 auto 0 auto;
    box-shadow: 0px 1px 18px 2px #fff;
    text-transform: uppercase;
    color: #008cd2;
    font-family: 'PT Sans', sans-serif;
}

.btn-view-product:focus{
    outline: none;
}

.button-banner{
    position: absolute;
    bottom: -88px;
    width: 100%;
    display: flex;
}

.carrousel-products{
    position: relative;
}

.carousel-indicators .active {
    background-color: #ffd013;
}

.carousel-indicators li {
    width: 10px;
    background-color: #fff;
    border-radius: 100%;
    height: 10px;
}

.owl-carousel {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.owl-carousel li{
    list-style: none;
    background-color: #e8e8e8;
    width: 93%;
    border-bottom: 3px solid #ffd013;
    margin: 9px auto 7px auto;
    border-radius: 5px;
}

.owl-carousel li h1{
    color: #008cd2;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    padding: 16px 0 0 0;
}

.owl-carousel li p{
    color: #404040;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 4px 28px 0 28px;
}

.button-carrousel{
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    margin: 0 0 14px 0;
}

.owl-dots{
    display: flex;
    width: 42%;
    justify-content: space-around;
    margin: 0 auto 16px auto;
}
.owl-dots .owl-dot{
    width: 15px;
    height: 15px;
    background: #e8e3e0 !important;
    border-radius: 100%;
}

button:focus{
    outline: none !important;
}

.owl-dot.active{
    background: #ffd013 !important;
}

.owl-nav{
    position: absolute;
    top: 22px;
    width: 100%;
}

.owl-prev span, .owl-next span{
    font-size: 84px;
    color: #018cd2;
    cursor: pointer;
}

.owl-prev{
    position: relative;
    left: 15px;
}

.owl-next{
    position: absolute;
    right: 15px;
}

.footer{
    display: block;
    width: 100%;
    height: 15px;
    background-color: #ffd013;
}

@media (min-width: 769px){
    body.active::after{
        display: none;
    }

    .btn-close{
        display: none;
    }

    .menu-options-active{
        box-shadow: none;
    }
}

@media (min-width: 400px) and (max-width: 700px){
    .header{
        display: block;
        background-color: #ffd013;
        height: 10.5vw;
    }
    
    .header .container-header{
        display: grid;
    }
    
    .header .icon-menu-responsive{
        position: absolute;
        font-size: 32px;
        color: #fff;
        padding: 2% 0 0 10vw;
    }
    
    .header .logo {
        border: 2px solid #fff;
        width: 33%;
        height: 157%;
        margin: 2% auto 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .header .logo p{
        color: #fff;
        margin: 0;
        display: flex;
        align-items: center;
    }
    
    .menu-options{
        position: fixed;
        background: #ffd013;
        height: 100%;
        width: 51%;
        left: -631px;
        z-index: 999;
    }
    
    .menu-options-active{
        left: 0;
        box-shadow: 8px 12px 45px -12px #191919;
    }
    
    .btn-close{
        position: fixed;
        top: 20px;
        display: none;
        right: 15px;
        z-index: 99999;
        font-size: 33px;
        color: #fff;
    }
    
    .btn-close-active{
        display: block;
    }
    
    .btn-where-buy, .btn-print{
        background-color: #fdda51;
        width: 49%;
        height: 9vw;
        position: relative;
        overflow: hidden;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }
    
    .btn-where-buy a, .btn-print a{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    .btn-where-buy a span, .btn-print a span{
        font-size: 1.2em;
        text-transform: uppercase;
    }
    
    .btn-where-buy a .text, .btn-print a .text{
        display: none;
    }
    
    .btn-where-buy a .icon-btn, .btn-print a .icon-btn{
        font-size: 1.5em;
        margin: 0 0 0 5px;
        display: flex;
        align-items: center;
    }
    
    .search-form form{
        display: flex;
    }
    
    .search-form form input{
        outline: none;
        border: 1px solid #008cd2;
        color: #333;
        font-family: 'PT Sans', sans-serif;
        border-radius: 0;
        width: 100%;
        height: 7vw;
        padding: 0 0 0 13px;
        font-size: 15px
    }
    
    .search-form form input:focus{
        outline: none;
        box-shadow: 0;
        border: 1px solid #008cd2;
    }
    
    .btn-search{
        background-color: #fdda51;
        color: #008cd2;
        border-radius: 0; 
        border: 1px solid #008cd2;
        font-family: 'PT Sans', sans-serif;
    }
    
    .navigation{
        display: block;
        width: 100%;
        position: absolute;
        height: 82%;
        padding: 0;
        bottom: 0;
        margin: 0px 0 0 0;
        background-color: #008cd2;
    }
    
    .navigation ul{
        display: block;
        width: 100%;
        position: absolute;
        height: 100%;
        padding: 0;
        bottom: 0;
        margin: 0px 0 0 0;
        background-color: #008cd2;
    }
    
    .navigation ul li{
        list-style: none;
        border-bottom: 1px solid #0056b3;
        width: 100%;
        height: 7vw;
        position: relative;
        overflow: hidden;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    
    .navigation ul li a{
        color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        font-size: 17px;
        font-family: 'PT Sans', sans-serif;
        padding: 15px 0 0 0;
        display: flex;
        justify-content: center;
        align-content: center;
        text-decoration: none;
    }
    
    .navigation ul li:hover{
        background-color: #0056b3;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    
    .banner{
        background-color: #cacaca;
    }
    
    .banner h5 {
        color: #fff;
        text-align: center;
        margin: 0 auto 145px auto;
        width: 32%;
        position: absolute;
        top: 24%;
        left: 10%;
        font-size: 1.1rem;
    }

    .button-banner {
        position: absolute;
        top: 58%;
        left: 9.3%;
        width: 34%;
        display: flex;
    }

    .banner .btn-view-product {
        background-color: #fdda51;
        width: 93%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 6vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 0 auto 0 auto;
        box-shadow: 0px 1px 13px 1px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }
    
    .btn-view-product:focus{
        outline: none;
    }
    
    .carrousel-products{
        position: relative;
    }
    
    .carousel-indicators .active {
        background-color: #ffd013;
    }
    
    .carousel-indicators li {
        width: 10px;
        background-color: #fff;
        border-radius: 100%;
        height: 10px;
    }
    
    .owl-carousel {
        padding: 0;
        margin: 0;
        position: relative;
        overflow: hidden;
    }
    
    .owl-carousel li{
        list-style: none;
        background-color: #e8e8e8;
        width: 69%;
        height: 300px;
        border-bottom: 3px solid #ffd013;
        margin: 9px auto 7px auto;
        border-radius: 5px;
    }
    
    .owl-carousel li h1{
        color: #008cd2;
        font-size: 1.9rem;
        font-weight: 400;
        text-align: center;
        padding: 12% 0 0 0;
    }
    
    .owl-carousel li p{
        color: #404040;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding: 4px 28px 0 28px;
        width: 78%;
        margin: 0 auto 19px auto;
    }
    
    .button-carrousel{
        position: relative;
        bottom: 0;
        width: 100%;
        display: flex;
        margin: 0 0 14px 0;
    }

    .btn-view-product {
        background-color: #fdda51;
        width: 47%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 6vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 0 auto 0 auto;
        box-shadow: 0px 1px 13px 1px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }
    
    .owl-dots{
        display: flex;
        width: 42%;
        justify-content: space-around;
        margin: 0 auto 16px auto;
    }
    .owl-dots .owl-dot{
        width: 15px;
        height: 15px;
        background: #e8e3e0 !important;
        border-radius: 100%;
    }
    
    button:focus{
        outline: none !important;
    }
    
    .owl-dot.active{
        background: #ffd013 !important;
    }
    
    .owl-nav {
        position: absolute;
        top: 23%;
        width: 100%;
    }
    
    .owl-prev span, .owl-next span{
        font-size: 84px;
        color: #018cd2;
        cursor: pointer;
    }
    
    .owl-prev{
        position: relative;
        left: 15px;
    }
    
    .owl-next{
        position: absolute;
        right: 15px;
    }
    
    .footer{
        display: block;
        width: 100%;
        height: 15px;
        background-color: #ffd013;
    }
}

@media (min-width: 700px) and (max-width: 799px){
    .header{
        display: block;
        background-color: #ffd013;
        height: 10.5vw;
    }
    
    .header .container-header{
        display: grid;
    }
    
    .header .icon-menu-responsive{
        position: absolute;
        font-size: 32px;
        color: #fff;
        padding: 2% 0 0 10vw;
    }
    
    .header .logo {
        border: 2px solid #fff;
        width: 33%;
        height: 157%;
        margin: 2% auto 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    .header .logo p{
        color: #fff;
        margin: 0;
        display: flex;
        align-items: center;
    }
    
    .menu-options{
        position: fixed;
        background: #ffd013;
        height: 100%;
        width: 51%;
        left: -631px;
        z-index: 999;
    }
    
    .menu-options-active{
        left: 0;
        box-shadow: 8px 12px 45px -12px #191919;
    }
    
    .btn-close{
        position: fixed;
        top: 20px;
        display: none;
        right: 15px;
        z-index: 99999;
        font-size: 33px;
        color: #fff;
    }
    
    .btn-close-active{
        display: block;
    }
    
    .btn-where-buy, .btn-print{
        background-color: #fdda51;
        width: 49%;
        height: 9vw;
        position: relative;
        overflow: hidden;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }
    
    .btn-where-buy a, .btn-print a{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    .btn-where-buy a span, .btn-print a span{
        font-size: 1.2em;
        text-transform: uppercase;
    }
    
    .btn-where-buy a .text, .btn-print a .text{
        display: none;
    }
    
    .btn-where-buy a .icon-btn, .btn-print a .icon-btn{
        font-size: 1.5em;
        margin: 0 0 0 5px;
        display: flex;
        align-items: center;
    }
    
    .search-form form{
        display: flex;
    }
    
    .search-form form input{
        outline: none;
        border: 1px solid #008cd2;
        color: #333;
        font-family: 'PT Sans', sans-serif;
        border-radius: 0;
        width: 100%;
        height: 6vw;
        padding: 0 0 0 13px;
        font-size: 15px
    }
    
    .search-form form input:focus{
        outline: none;
        box-shadow: 0;
        border: 1px solid #008cd2;
    }
    
    .btn-search{
        background-color: #fdda51;
        color: #008cd2;
        border-radius: 0; 
        border: 1px solid #008cd2;
        font-family: 'PT Sans', sans-serif;
    }
    
    .navigation{
        display: block;
        width: 100%;
        position: absolute;
        height: 82%;
        padding: 0;
        bottom: 0;
        margin: 0px 0 0 0;
        background-color: #008cd2;
    }
    
    .navigation ul{
        display: block;
        width: 100%;
        position: absolute;
        height: 100%;
        padding: 0;
        bottom: 0;
        margin: 0px 0 0 0;
        background-color: #008cd2;
    }
    
    .navigation ul li{
        list-style: none;
        border-bottom: 1px solid #0056b3;
        width: 100%;
        height: 7vw;
        position: relative;
        overflow: hidden;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    
    .navigation ul li a{
        color: #fff;
        position: absolute;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        font-size: 17px;
        font-family: 'PT Sans', sans-serif;
        padding: 15px 0 0 0;
        display: flex;
        justify-content: center;
        align-content: center;
        text-decoration: none;
    }
    
    .navigation ul li:hover{
        background-color: #0056b3;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    
    .banner{
        background-color: #cacaca;
    }
    
    .banner h5 {
        color: #fff;
        text-align: center;
        margin: 0 auto 145px auto;
        width: 32%;
        position: absolute;
        top: 24%;
        left: 10%;
        font-size: 1.5rem;
    }

    .button-banner {
        position: absolute;
        top: 58%;
        left: 9.3%;
        width: 34%;
        display: flex;
    }

    .banner .btn-view-product {
        background-color: #fdda51;
        width: 93%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 6vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 0 auto 0 auto;
        box-shadow: 0px 1px 13px 1px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }
    
    .btn-view-product:focus{
        outline: none;
    }
    
    .carrousel-products{
        position: relative;
    }
    
    .carousel-indicators .active {
        background-color: #ffd013;
    }
    
    .carousel-indicators li {
        width: 10px;
        background-color: #fff;
        border-radius: 100%;
        height: 10px;
    }
    
    .owl-carousel {
        padding: 0;
        margin: 0;
        position: relative;
        overflow: hidden;
    }
    
    .owl-carousel li{
        list-style: none;
        background-color: #e8e8e8;
        width: 69%;
        height: 300px;
        border-bottom: 3px solid #ffd013;
        margin: 9px auto 7px auto;
        border-radius: 5px;
    }
    
    .owl-carousel li h1{
        color: #008cd2;
        font-size: 1.9rem;
        font-weight: 400;
        text-align: center;
        padding: 12% 0 0 0;
    }
    
    .owl-carousel li p{
        color: #404040;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding: 4px 28px 0 28px;
        width: 78%;
        margin: 0 auto 19px auto;
    }
    
    .button-carrousel{
        position: relative;
        bottom: 0;
        width: 100%;
        display: flex;
        margin: 0 0 14px 0;
    }

    .btn-view-product {
        background-color: #fdda51;
        width: 47%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 6vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 0 auto 0 auto;
        box-shadow: 0px 1px 13px 1px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }
    
    .owl-dots{
        display: flex;
        width: 42%;
        justify-content: space-around;
        margin: 0 auto 16px auto;
    }
    .owl-dots .owl-dot{
        width: 15px;
        height: 15px;
        background: #e8e3e0 !important;
        border-radius: 100%;
    }
    
    button:focus{
        outline: none !important;
    }
    
    .owl-dot.active{
        background: #ffd013 !important;
    }
    
    .owl-nav {
        position: absolute;
        top: 23%;
        width: 100%;
    }
    
    .owl-prev span, .owl-next span{
        font-size: 84px;
        color: #018cd2;
        cursor: pointer;
    }
    
    .owl-prev{
        position: relative;
        left: 15px;
    }
    
    .owl-next{
        position: absolute;
        right: 15px;
    }
    
    .footer{
        display: block;
        width: 100%;
        height: 15px;
        background-color: #ffd013;
    }
}

@media (min-width: 800px) and (max-width: 999px){
    .header{
        display: block;
        background-color: #ffd013;
        height: 143px;
    }

    .header .icon-menu-responsive{
        display: none;
    }

    .header .container-header{
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .header .logo {
        border: 2px solid #fff;
        width: 74%;
        height: 74px;
        margin: 28px auto 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .menu-options{
        position: relative;
        background: transparent;
        height: 190px;
        width: 100%;
        left: 0;
        z-index: none;
    }

    .menu-options .options{
        position: absolute;
        right: -84px;
        height: 83px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        top: 28px;
        width: 100%;
    }

    .menu-options .options .btn-where-buy, .menu-options .options .btn-print{
        background-color: #fdda51;
        border: 1px solid #dcb105;
        width: 36%;
        height: 51px;
        position: relative;
        overflow: hidden;
        color: #008cd2;
        border-radius: 74px;
        font-family: 'PT Sans', sans-serif;
    }

    .menu-options .options .btn-where-buy{
        margin: 0 15px 0 0;
    }

    .btn-where-buy a, .btn-print a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;
        align-content: center;
        justify-content: space-around;
    }

    .btn-where-buy a .text{
        display: flex;
        align-items: center;
        padding: 0 0 0 21px;
    }

    .btn-print a .text {
        display: flex;
        align-items: center;
        padding: 0 0 0 21px;
    }

    .btn-where-buy a .icon-btn, .btn-print a .icon-btn{
        font-size: 20px;
        margin: 0 12px 0 0;
        display: flex;
        align-items: center;
    }

    .btn-where-buy a .icon-btn{
        margin: 0 25px 0 0;
    }

    .search-form form input {
        outline: none;
        border: 1px solid #dcb105;
        border-bottom: 1px solid #0056b3;
        background: #ffd013;
        color: #0056b3;
        font-family: 'PT Sans', sans-serif;
        border-radius: 0;
        width: 0%;
        visibility: hidden;
        height: 65px;
        padding: 0 0 0 13px;
        font-size: 15px;
    }

    .btn-search {
        background-color: #fdda51;
        color: #008cd2;
        width: 51px;
        height: 51px;
        border-radius: 100%;
        border: 1px solid #dcb105;
        font-family: 'PT Sans', sans-serif;
    }
     
    .navigation {
        display: block;
        width: 66%;
        position: relative;
        height: 49px;
        padding: 0;
        top: 119px;
        overflow: hidden;
        border-radius: 54px;
        bottom: 0;
        margin: 0 0 0 39px;
        background-color: #008cd2;
        border: 1px solid #0072bc;
    }

    .navigation ul {
        display: flex;
        position: relative;
        height: 49px;
    }

    .navigation ul li{
        height: 49px;
        border-right: 1px solid #0072bc;
    }

    .navigation ul li:nth-child(3n - 3){
        border-right: none;
    }

    .navigation ul li a{
        padding: 12px 0 0 0; 
    }

    .banner h5 {
        color: #fff;
        text-align: center;
        margin: 0 auto 145px auto;
        width: 32%;
        position: absolute;
        top: 24%;
        left: 10%;
        font-size: 1.9rem;
    }

    .button-banner {
        position: absolute;
        top: 58%;
        left: 9.3%;
        width: 33%;
        display: flex;
    }

    .banner .btn-view-product {
        background-color: #fdda51;
        width: 49%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 4vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 0 auto 0 auto;
        box-shadow: 0px 1px 13px 1px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }

    .carrousel-products{
        padding: 99px 0 61px 0;
    }

    .owl-carousel, .carrousel-products{
        background-color: #cacaca;
    }

    .owl-carousel{
        width: 90%;
        margin: 0 auto;
    }

    .owl-carousel li {
        list-style: none;
        background-color: #fff;
        width: 78%;
        height: 400px;
        border-bottom: 3px solid #ffd013;
        margin: 9px auto 7px auto;
        border-radius: 5px;
    }

    .owl-dots {
        display: flex;
        width: 7%;
        justify-content: space-around;
        margin: 47px auto 0 auto;
    }

    .owl-nav {
        position: absolute;
        top: 134px;
        width: 100%;
    }

    .owl-carousel li h1 {
        color: #008cd2;
        font-size: 28px;
        font-weight: 400;
        text-align: center;
        padding: 97px 0 0 0;
    }


    .owl-carousel li p {
        color: #404040;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        width: 68%;
        padding: 4px 28px 0 28px;
        margin: 0 auto;
    }

    .btn-view-product {
        background-color: #fdda51;
        width: 50%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 4vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 34px auto 0 auto;
        box-shadow: 0px 1px 18px 2px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }

    .footer {
        display: block;
        width: 100%;
        height: 74px;
        background-color: #ffd013;
    }
}

@media (min-width: 1000px) and (max-width: 1200px){
    .header{
        display: block;
        background-color: #ffd013;
        height: 143px;
    }

    .header .icon-menu-responsive{
        display: none;
    }

    .header .container-header{
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .header .logo {
        border: 2px solid #fff;
        width: 74%;
        height: 74px;
        margin: 28px auto 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .menu-options{
        position: relative;
        background: transparent;
        height: 190px;
        width: 100%;
        left: 0;
        z-index: none;
    }

    .menu-options .options{
        position: absolute;
        right: -84px;
        height: 83px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        top: 28px;
        width: 86%;
    }

    .menu-options .options .btn-where-buy, .menu-options .options .btn-print{
        background-color: #fdda51;
        border: 1px solid #dcb105;
        width: 36%;
        height: 51px;
        position: relative;
        overflow: hidden;
        color: #008cd2;
        border-radius: 74px;
        font-family: 'PT Sans', sans-serif;
    }

    .menu-options .options .btn-where-buy{
        margin: 0 15px 0 0;
    }

    .btn-where-buy a, .btn-print a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;
        align-content: center;
        justify-content: space-around;
    }

    .btn-where-buy a .text{
        display: flex;
        align-items: center;
        padding: 0 0 0 21px;
    }

    .btn-print a .text {
        display: flex;
        align-items: center;
        padding: 0 0 0 21px;
    }

    .btn-where-buy a .icon-btn, .btn-print a .icon-btn{
        font-size: 20px;
        margin: 0 12px 0 0;
        display: flex;
        align-items: center;
    }

    .btn-where-buy a .icon-btn{
        margin: 0 25px 0 0;
    }

    .search-form form input {
        outline: none;
        border: 1px solid #dcb105;
        border-bottom: 1px solid #0056b3;
        background: #ffd013;
        color: #0056b3;
        font-family: 'PT Sans', sans-serif;
        border-radius: 0;
        width: 0%;
        visibility: hidden;
        height: 65px;
        padding: 0 0 0 13px;
        font-size: 15px;
    }

    .btn-search {
        background-color: #fdda51;
        color: #008cd2;
        width: 51px;
        height: 51px;
        border-radius: 100%;
        border: 1px solid #dcb105;
        font-family: 'PT Sans', sans-serif;
    }
     
    .navigation {
        display: block;
        width: 66%;
        position: relative;
        height: 49px;
        padding: 0;
        top: 119px;
        overflow: hidden;
        border-radius: 54px;
        bottom: 0;
        margin: 0 0 0 39px;
        background-color: #008cd2;
        border: 1px solid #0072bc;
    }

    .navigation ul {
        display: flex;
        position: relative;
        height: 49px;
    }

    .navigation ul li{
        height: 49px;
        border-right: 1px solid #0072bc;
    }

    .navigation ul li:nth-child(3n - 3){
        border-right: none;
    }

    .navigation ul li a{
        padding: 12px 0 0 0; 
    }

    .banner h5 {
        color: #fff;
        text-align: center;
        margin: 0 auto 145px auto;
        width: 32%;
        position: absolute;
        top: 24%;
        left: 10%;
        font-size: 2rem;
    }

    .button-banner {
        position: absolute;
        top: 58%;
        left: 9.3%;
        width: 33%;
        display: flex;
    }

    .banner .btn-view-product {
        background-color: #fdda51;
        width: 49%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 4vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 0 auto 0 auto;
        box-shadow: 0px 1px 13px 1px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }

    .carrousel-products{
        padding: 99px 0 61px 0;
    }

    .owl-carousel, .carrousel-products{
        background-color: #cacaca;
    }

    .owl-carousel{
        width: 90%;
        margin: 0 auto;
    }

    .owl-carousel li {
        list-style: none;
        background-color: #fff;
        width: 78%;
        height: 400px;
        border-bottom: 3px solid #ffd013;
        margin: 9px auto 7px auto;
        border-radius: 5px;
    }

    .owl-dots {
        display: flex;
        width: 7%;
        justify-content: space-around;
        margin: 47px auto 0 auto;
    }

    .owl-nav {
        position: absolute;
        top: 134px;
        width: 100%;
    }

    .owl-carousel li h1 {
        color: #008cd2;
        font-size: 28px;
        font-weight: 400;
        text-align: center;
        padding: 97px 0 0 0;
    }


    .owl-carousel li p {
        color: #404040;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        width: 68%;
        padding: 4px 28px 0 28px;
        margin: 0 auto;
    }

    .btn-view-product {
        background-color: #fdda51;
        width: 37%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 4vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 34px auto 0 auto;
        box-shadow: 0px 1px 18px 2px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }

    .footer {
        display: block;
        width: 100%;
        height: 74px;
        background-color: #ffd013;
    }
}


@media (min-width: 1200px) and (max-width: 1500px){
    .header{
        display: block;
        background-color: #ffd013;
        height: 143px;
    }

    .header .icon-menu-responsive{
        display: none;
    }

    .header .container-header{
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .header .logo {
        border: 2px solid #fff;
        width: 74%;
        height: 74px;
        margin: 28px auto 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .menu-options{
        position: relative;
        background: transparent;
        height: 190px;
        width: 100%;
        left: 0;
        z-index: none;
    }

    .menu-options .options{
        position: absolute;
        right: 0;
        height: 83px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        top: 28px;
        width: 67%;
    }

    .menu-options .options .btn-where-buy, .menu-options .options .btn-print{
        background-color: #fdda51;
        border: 1px solid #dcb105;
        width: 36%;
        height: 51px;
        position: relative;
        overflow: hidden;
        color: #008cd2;
        border-radius: 74px;
        font-family: 'PT Sans', sans-serif;
    }

    .menu-options .options .btn-where-buy{
        margin: 0 15px 0 0;
    }

    .btn-where-buy a, .btn-print a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;
        align-content: center;
        justify-content: space-around;
    }

    .btn-where-buy a .text{
        display: flex;
        align-items: center;
        padding: 0 0 0 21px;
    }

    .btn-print a .text {
        display: flex;
        align-items: center;
        padding: 0 0 0 21px;
    }

    .btn-where-buy a .icon-btn, .btn-print a .icon-btn{
        font-size: 20px;
        margin: 0 12px 0 0;
        display: flex;
        align-items: center;
    }

    .btn-where-buy a .icon-btn{
        margin: 0 25px 0 0;
    }

    .search-form form input {
        outline: none;
        border: 1px solid #dcb105;
        border-bottom: 1px solid #0056b3;
        background: #ffd013;
        color: #0056b3;
        font-family: 'PT Sans', sans-serif;
        border-radius: 0;
        width: 0%;
        visibility: hidden;
        height: 65px;
        padding: 0 0 0 13px;
        font-size: 15px;
    }

    .btn-search {
        background-color: #fdda51;
        color: #008cd2;
        width: 51px;
        height: 51px;
        border-radius: 100%;
        border: 1px solid #dcb105;
        font-family: 'PT Sans', sans-serif;
    }
     
    .navigation {
        display: block;
        width: 66%;
        position: relative;
        height: 49px;
        padding: 0;
        top: 119px;
        overflow: hidden;
        border-radius: 54px;
        bottom: 0;
        margin: 0 0 0 39px;
        background-color: #008cd2;
        border: 1px solid #0072bc;
    }

    .navigation ul {
        display: flex;
        position: relative;
        height: 49px;
    }

    .navigation ul li{
        height: 49px;
        border-right: 1px solid #0072bc;
    }

    .navigation ul li:nth-child(3n - 3){
        border-right: none;
    }

    .navigation ul li a{
        padding: 12px 0 0 0; 
    }

    .banner h5 {
        color: #fff;
        text-align: center;
        margin: 0 auto 145px auto;
        width: 32%;
        position: absolute;
        top: 24%;
        left: 10%;
        font-size: 2.5rem;
    }

    .button-banner {
        position: absolute;
        top: 58%;
        left: 9.3%;
        width: 33%;
        display: flex;
    }

    .banner .btn-view-product {
        background-color: #fdda51;
        width: 49%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 3vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 0 auto 0 auto;
        box-shadow: 0px 1px 13px 1px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }

    .carrousel-products{
        padding: 99px 0 61px 0;
    }

    .owl-carousel, .carrousel-products{
        background-color: #cacaca;
    }

    .owl-carousel{
        width: 90%;
        margin: 0 auto;
    }

    .owl-carousel li {
        list-style: none;
        background-color: #fff;
        width: 78%;
        height: 400px;
        border-bottom: 3px solid #ffd013;
        margin: 9px auto 7px auto;
        border-radius: 5px;
    }

    .owl-dots {
        display: flex;
        width: 7%;
        justify-content: space-around;
        margin: 47px auto 0 auto;
    }

    .owl-nav {
        position: absolute;
        top: 134px;
        width: 100%;
    }

    .owl-carousel li h1 {
        color: #008cd2;
        font-size: 34px;
        font-weight: 400;
        text-align: center;
        padding: 97px 0 0 0;
    }


    .owl-carousel li p {
        color: #404040;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        width: 68%;
        padding: 4px 28px 0 28px;
        margin: 0 auto;
    }

    .btn-view-product {
        background-color: #fdda51;
        width: 37%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 3vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 34px auto 0 auto;
        box-shadow: 0px 1px 18px 2px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }

    .footer {
        display: block;
        width: 100%;
        height: 74px;
        background-color: #ffd013;
    }
}

@media (min-width: 1500px) and (max-width: 1577px){
    .header{
        display: block;
        background-color: #ffd013;
        height: 143px;
    }

    .header .icon-menu-responsive{
        display: none;
    }

    .header .container-header{
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .header .logo {
        border: 2px solid #fff;
        width: 43%;
        height: 74px;
        margin: 28px auto 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .menu-options{
        position: relative;
        background: transparent;
        height: 190px;
        width: 100%;
        left: 0;
        z-index: none;
    }

    .menu-options .options{
        position: absolute;
        right: 0;
        height: 83px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        top: 28px;
        width: 59%;
    }

    .menu-options .options .btn-where-buy, .menu-options .options .btn-print{
        background-color: #fdda51;
        border: 1px solid #dcb105;
        width: 36%;
        height: 64px;
        position: relative;
        overflow: hidden;
        color: #008cd2;
        border-radius: 74px;
        font-family: 'PT Sans', sans-serif;
    }

    .menu-options .options .btn-where-buy{
        margin: 0 15px 0 0;
    }

    .btn-where-buy a, .btn-print a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;
        align-content: center;
        justify-content: space-around;
    }

    .btn-where-buy a .text{
        display: flex;
        align-items: center;
        padding: 0 0 0 21px;
    }

    .btn-print a .text {
        display: flex;
        align-items: center;
        padding: 0 0 0 21px;
    }

    .btn-where-buy a .icon-btn, .btn-print a .icon-btn{
        font-size: 20px;
        margin: 0 12px 0 0;
        display: flex;
        align-items: center;
    }

    .btn-where-buy a .icon-btn{
        margin: 0 25px 0 0;
    }

    .search-form form input {
        outline: none;
        border: 1px solid #dcb105;
        border-bottom: 1px solid #0056b3;
        background: #ffd013;
        color: #0056b3;
        font-family: 'PT Sans', sans-serif;
        border-radius: 0;
        width: 0%;
        visibility: hidden;
        height: 65px;
        padding: 0 0 0 13px;
        font-size: 15px;
    }

    .btn-search {
        background-color: #fdda51;
        color: #008cd2;
        width: 64px;
        height: 64px;
        border-radius: 100%;
        border: 1px solid #dcb105;
        font-family: 'PT Sans', sans-serif;
    }
     
    .navigation {
        display: block;
        width: 66%;
        position: relative;
        height: 49px;
        padding: 0;
        top: 119px;
        overflow: hidden;
        border-radius: 54px;
        bottom: 0;
        margin: 0 0 0 39px;
        background-color: #008cd2;
        border: 1px solid #0072bc;
    }

    .navigation ul {
        display: flex;
        position: relative;
        height: 49px;
    }

    .navigation ul li{
        height: 49px;
        border-right: 1px solid #0072bc;
    }

    .navigation ul li:nth-child(3n - 3){
        border-right: none;
    }

    .navigation ul li a{
        padding: 12px 0 0 0; 
    }

    .banner h5 {
        color: #fff;
        text-align: center;
        margin: 0 auto 145px auto;
        width: 32%;
        position: absolute;
        top: 24%;
        left: 10%;
        font-size: 3.5rem;
    }

    .button-banner {
        position: absolute;
        top: 58%;
        left: 9.3%;
        width: 33%;
        display: flex;
    }

    .banner .btn-view-product {
        background-color: #fdda51;
        width: 49%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 3vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 0 auto 0 auto;
        box-shadow: 0px 1px 13px 1px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }

    .carrousel-products{
        padding: 99px 0 61px 0;
    }

    .owl-carousel, .carrousel-products{
        background-color: #cacaca;
    }

    .owl-carousel{
        width: 90%;
        margin: 0 auto;
    }

    .owl-carousel li {
        list-style: none;
        background-color: #fff;
        width: 78%;
        height: 400px;
        border-bottom: 3px solid #ffd013;
        margin: 9px auto 7px auto;
        border-radius: 5px;
    }

    .owl-dots {
        display: flex;
        width: 4%;
        justify-content: space-around;
        margin: 47px auto 0 auto;
    }

    .owl-nav {
        position: absolute;
        top: 134px;
        width: 100%;
    }

    .owl-carousel li h1 {
        color: #008cd2;
        font-size: 34px;
        font-weight: 400;
        text-align: center;
        padding: 97px 0 0 0;
    }


    .owl-carousel li p {
        color: #404040;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        width: 68%;
        padding: 4px 28px 0 28px;
        margin: 0 auto;
    }

    .btn-view-product {
        background-color: #fdda51;
        width: 37%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 3vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 34px auto 0 auto;
        box-shadow: 0px 1px 18px 2px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }

    .footer {
        display: block;
        width: 100%;
        height: 74px;
        background-color: #ffd013;
    }
}

@media (min-width: 1577px) and (max-width: 1709px){
    .header{
        display: block;
        background-color: #ffd013;
        height: 143px;
    }

    .header .icon-menu-responsive{
        display: none;
    }

    .header .container-header{
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .header .logo {
        border: 2px solid #fff;
        width: 43%;
        height: 74px;
        margin: 28px auto 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .menu-options{
        position: relative;
        background: transparent;
        height: 190px;
        width: 100%;
        left: 0;
        z-index: none;
    }

    .menu-options .options{
        position: absolute;
        right: 0;
        height: 83px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        top: 28px;
        width: 59%;
    }

    .menu-options .options .btn-where-buy, .menu-options .options .btn-print{
        background-color: #fdda51;
        border: 1px solid #dcb105;
        width: 36%;
        height: 64px;
        position: relative;
        overflow: hidden;
        color: #008cd2;
        border-radius: 74px;
        font-family: 'PT Sans', sans-serif;
    }

    .menu-options .options .btn-where-buy{
        margin: 0 15px 0 0;
    }

    .btn-where-buy a, .btn-print a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;
        align-content: center;
        justify-content: space-around;
    }

    .btn-where-buy a .text{
        display: flex;
        align-items: center;
        padding: 0 0 0 21px;
    }

    .btn-print a .text {
        display: flex;
        align-items: center;
        padding: 0 0 0 21px;
    }

    .btn-where-buy a .icon-btn, .btn-print a .icon-btn{
        font-size: 20px;
        margin: 0 12px 0 0;
        display: flex;
        align-items: center;
    }

    .btn-where-buy a .icon-btn{
        margin: 0 25px 0 0;
    }

    .search-form form input {
        outline: none;
        border: 1px solid #dcb105;
        border-bottom: 1px solid #0056b3;
        background: #ffd013;
        color: #0056b3;
        font-family: 'PT Sans', sans-serif;
        border-radius: 0;
        width: 0%;
        visibility: hidden;
        height: 65px;
        padding: 0 0 0 13px;
        font-size: 15px;
    }

    .btn-search {
        background-color: #fdda51;
        color: #008cd2;
        width: 64px;
        height: 64px;
        border-radius: 100%;
        border: 1px solid #dcb105;
        font-family: 'PT Sans', sans-serif;
    }
     
    .navigation {
        display: block;
        width: 66%;
        position: relative;
        height: 49px;
        padding: 0;
        top: 119px;
        overflow: hidden;
        border-radius: 54px;
        bottom: 0;
        margin: 0 0 0 39px;
        background-color: #008cd2;
        border: 1px solid #0072bc;
    }

    .navigation ul {
        display: flex;
        position: relative;
        height: 49px;
    }

    .navigation ul li{
        height: 49px;
        border-right: 1px solid #0072bc;
    }

    .navigation ul li:nth-child(3n - 3){
        border-right: none;
    }

    .navigation ul li a{
        padding: 12px 0 0 0; 
    }

    .banner h5 {
        color: #fff;
        text-align: center;
        margin: 0 auto 145px auto;
        width: 32%;
        position: absolute;
        top: 24%;
        left: 10%;
        font-size: 3.5rem;
    }

    .button-banner {
        position: absolute;
        top: 58%;
        left: 9.3%;
        width: 33%;
        display: flex;
    }

    .banner .btn-view-product {
        background-color: #fdda51;
        width: 49%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 3vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 0 auto 0 auto;
        box-shadow: 0px 1px 13px 1px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }

    .carrousel-products{
        padding: 99px 0 61px 0;
    }

    .owl-carousel, .carrousel-products{
        background-color: #cacaca;
    }

    .owl-carousel{
        width: 90%;
        margin: 0 auto;
    }

    .owl-carousel li {
        list-style: none;
        background-color: #fff;
        width: 78%;
        height: 400px;
        border-bottom: 3px solid #ffd013;
        margin: 9px auto 7px auto;
        border-radius: 5px;
    }

    .owl-dots {
        display: flex;
        width: 4%;
        justify-content: space-around;
        margin: 47px auto 0 auto;
    }

    .owl-nav {
        position: absolute;
        top: 134px;
        width: 100%;
    }

    .owl-carousel li h1 {
        color: #008cd2;
        font-size: 34px;
        font-weight: 400;
        text-align: center;
        padding: 97px 0 0 0;
    }


    .owl-carousel li p {
        color: #404040;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        width: 68%;
        padding: 4px 28px 0 28px;
        margin: 0 auto;
    }

    .btn-view-product {
        background-color: #fdda51;
        width: 37%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 3vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 34px auto 0 auto;
        box-shadow: 0px 1px 18px 2px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }

    .footer {
        display: block;
        width: 100%;
        height: 74px;
        background-color: #ffd013;
    }
}

@media (min-width: 1709px){
    .header{
        display: block;
        background-color: #ffd013;
        height: 143px;
    }

    .header .container-header{
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .header .icon-menu-responsive{
        display: none;
    }

    .header .logo {
        border: 2px solid #fff;
        width: 43%;
        height: 74px;
        margin: 28px auto 0 auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .menu-options{
        position: relative;
        background: transparent;
        height: 190px;
        width: 100%;
        left: 0;
        z-index: none;
    }

    .menu-options .options{
        position: absolute;
        right: 0;
        height: 83px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        top: 28px;
        width: 48%;
    }

    .menu-options .options .btn-where-buy, .menu-options .options .btn-print{
        background-color: #fdda51;
        border: 1px solid #dcb105;
        width: 36%;
        height: 64px;
        position: relative;
        overflow: hidden;
        color: #008cd2;
        border-radius: 74px;
        font-family: 'PT Sans', sans-serif;
    }

    .menu-options .options .btn-where-buy{
        margin: 0 15px 0 0;
    }

    .btn-where-buy a, .btn-print a {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;
        align-content: center;
        justify-content: space-around;
    }

    .btn-where-buy a .text{
        display: flex;
        align-items: center;
        padding: 0 0 0 21px;
    }

    .btn-print a .text {
        display: flex;
        align-items: center;
        padding: 0 0 0 21px;
    }

    .btn-where-buy a .icon-btn, .btn-print a .icon-btn{
        font-size: 20px;
        margin: 0 12px 0 0;
        display: flex;
        align-items: center;
    }

    .btn-where-buy a .icon-btn{
        margin: 0 25px 0 0;
    }

    .search-form form input {
        outline: none;
        border: 1px solid #dcb105;
        border-bottom: 1px solid #0056b3;
        background: #ffd013;
        color: #0056b3;
        font-family: 'PT Sans', sans-serif;
        border-radius: 0;
        width: 0%;
        visibility: hidden;
        height: 65px;
        padding: 0 0 0 13px;
        font-size: 15px;
    }

    .btn-search {
        background-color: #fdda51;
        color: #008cd2;
        width: 64px;
        height: 64px;
        border-radius: 100%;
        border: 1px solid #dcb105;
        font-family: 'PT Sans', sans-serif;
    }
     
    .navigation {
        display: block;
        width: 66%;
        position: relative;
        height: 49px;
        padding: 0;
        top: 119px;
        overflow: hidden;
        border-radius: 54px;
        bottom: 0;
        margin: 0 0 0 39px;
        background-color: #008cd2;
        border: 1px solid #0072bc;
    }

    .navigation ul {
        display: flex;
        position: relative;
        height: 49px;
    }

    .navigation ul li{
        height: 49px;
        border-right: 1px solid #0072bc;
    }

    .navigation ul li:nth-child(3n - 3){
        border-right: none;
    }

    .navigation ul li a{
        padding: 12px 0 0 0; 
    }

    .banner h5 {
        color: #fff;
        text-align: center;
        margin: 0 auto 145px auto;
        width: 32%;
        position: absolute;
        top: 24%;
        left: 10%;
        font-size: 3.9rem;
    }

    .button-banner {
        position: absolute;
        top: 58%;
        left: 9.3%;
        width: 33%;
        display: flex;
    }

    .banner .btn-view-product {
        background-color: #fdda51;
        width: 49%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 3vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 0 auto 0 auto;
        box-shadow: 0px 1px 13px 1px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }

    .carrousel-products{
        padding: 99px 0 61px 0;
    }

    .owl-carousel, .carrousel-products{
        background-color: #cacaca;
    }

    .owl-carousel{
        width: 90%;
        margin: 0 auto;
    }

    .owl-carousel li {
        list-style: none;
        background-color: #fff;
        width: 78%;
        height: 400px;
        border-bottom: 3px solid #ffd013;
        margin: 9px auto 7px auto;
        border-radius: 5px;
    }

    .owl-dots {
        display: flex;
        width: 4%;
        justify-content: space-around;
        margin: 47px auto 0 auto;
    }

    .owl-nav {
        position: absolute;
        top: 134px;
        width: 100%;
    }

    .owl-carousel li h1 {
        color: #008cd2;
        font-size: 34px;
        font-weight: 400;
        text-align: center;
        padding: 97px 0 0 0;
    }


    .owl-carousel li p {
        color: #404040;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        width: 68%;
        padding: 4px 28px 0 28px;
        margin: 0 auto;
    }

    .btn-view-product {
        background-color: #fdda51;
        width: 37%;
        outline: none;
        border-radius: 24px;
        border: 2px solid #ffd013;
        height: 3vw;
        position: relative;
        overflow: hidden;
        font-size: 12px;
        margin: 34px auto 0 auto;
        box-shadow: 0px 1px 18px 2px #fff;
        text-transform: uppercase;
        color: #008cd2;
        font-family: 'PT Sans', sans-serif;
    }

    .footer {
        display: block;
        width: 100%;
        height: 74px;
        background-color: #ffd013;
    }
}